<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">
  <img src="{{ site.url }}{{ site.baseurl }}/assets/header.png" width="100%" class="header-image">
</head>
<body>
  <header class="page-header">
    <nav class="site-nav">
      <a href="{{ "/" | relative_url }}" class="nav-link">Accueil</a>
      <a href="{{ "/content/rules/" | relative_url }}" class="nav-link">Règles</a>
      <a href="{{ "/content/stories/" | relative_url }}" class="nav-link">Histoires</a>
      <a href="{{ "/content/notes/" | relative_url }}" class="nav-link">Notes</a>
    </nav>
    <h1 class="project-name">{{ page.title | default: site.title }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description }}</h2>
  </header>
  <main class="main-content">
    {{ content }}
    <footer class="site-footer">
      <span class="site-footer-owner">
        Glorantha Perspectives est un projet fan non-officiel.
        <br>
        <span class="chaosium-notice">"This website uses trademarks and/or copyrights owned by Chaosium Inc/Moon Design Publications LLC, which are used under Chaosium Inc's Fan Material Policy. We are expressly prohibited from charging you to use or access this content. This website is not published, endorsed, or specifically approved by Chaosium Inc. For more information about Chaosium Inc's products, please visit www.chaosium.com."</span>
      </span>
    </footer>
  </main>
</body>
</html>
